
<span style="color:red">{{error.message}}</span>
<br>
<tabel>
   <tr>
	   <td>EmpTitle</td>
	   <td><input type="text" ng-model="emp.empTitle"></td>
	   <br>
   </tr>
   <tr>
	   <td>Emp Description</td>
	   <td><input type="text" ng-model="emp.jobDescription"></td>
	   <br>
   </tr>
   <tr>
	    <td>skills Required</td>
	    <td><input type="text" ng-model="emp.skillsrequired"></td>
	    <br>
   </tr>
    <tr>
	    <td>Location</td>
	    <td><input type="text" ng-model="emp.location"></td>
	    <br>
   </tr>
    <tr>
	    <td>Company Name</td>
	    <td><input type="text" ng-model="emp.companyName"></td>
	    <br>
   </tr>
    <tr>
	    <td>Years Of Exp</td>
	    <td><input type="text" ng-model="emp.yrsOfExp"></td>
	    <br>
   </tr>
    <tr>
	    <td>Salary</td>
	    <td><input type="text" ng-model="emp.salary "></td>
	    <br>
   </tr>
    <tr>
        <td><input type="submit" value="Add Job" ng-click="addJob(job)"></td>
</tr>

</tabel>